* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
    height: 100dvh;
}

/*-----------------------------------------------------------------------------*/
/*----------------------------------LEFT-SIDE----------------------------------*/
/*-----------------------------------------------------------------------------*/

#chats {
    display: flex;
    flex-direction: column;
    gap: 16px;

    height: 100dvh;
    width: 320px;
    padding: 12px;

    background-color: #3a3a7c;

    border-right: 2px solid rgb(31, 17, 70);
}

#find {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    padding: 4px;
}

#find-input{
    font-size: 16px;

    padding: 6px 16px;

    border: 2px solid #310f71;
    border-radius: 12px;

    outline: none;
}

#find-img {
    cursor: pointer;
}

#find-input-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    gap: 12px;
}

.small-text-find{
    font-size: 14px;
    color: rgb(236, 226, 226);
    display: flex;
    align-self: start;
    margin-left: 44px;
}

#chat-list {
    display: flex;
    flex-direction: column;
    gap: 2px;  
}

.chat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    padding: 8px 32px;
    border-radius: 12px;

    background-color: #8398ca;

    transition-duration: 0.2s;
}

.chat-container:hover {
    background-color: rgba(155, 225, 225, 0.5);
}

.chat-list-img {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid #1e1745;
}

.name-massege-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-items: left;
    gap: 4px;
}

.name {
    font-size: 20px;
    color: rgb(236, 226, 226);
}

.last-massege {
    font-size: 14px;
    color: rgb(214, 207, 207);
}

/*------------------------------------------------------------------------------*/
/*----------------------------------RIGHT-SIDE----------------------------------*/
/*------------------------------------------------------------------------------*/

#message-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4938a8;
    flex-grow: 1;
    box-sizing: border-box;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 8px;   
    align-items: flex-start;
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 12px 12px 0;
    margin: 12px 12px;

    color: #1e1745;
    font-size: 16px;
}

.message {
    display: flex;
    padding: 10px 14px;
    border-radius: 12px;
    background-color: #8398ca;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;

}

.message.right {
    align-self: flex-end;
    background-color: #6f88f5;
}

#send-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;  
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 0 12px;
}

#send-input {
    flex: 1;
    max-width: 600px;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    outline: none;

    color: #1e1745;
    transition-duration: 400ms;
}

#send-input:focus {
    box-shadow: 0 0 4px 1px #1e1745;
}

#send {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #6f88f5;
    cursor: pointer;
    background-image: url(assets/send.svg);
    background-repeat: no-repeat;
    background-position: center;

    transition-duration: 400ms;
}

#send:hover {
    box-shadow: 0 0 6px 2px #1e1745;
}

#messages::-webkit-scrollbar {
    width: 10px;
    height: 60px;
}

#messages::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

#messages {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px;

    background-color: #3a3a7c;
}

.header-img {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 2px solid #1e1745;
}

.header-name {
    font-size: 24px;
    color: #1e1745;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4938a8;
    z-index: 12;

    transition: width 600ms ease-out;
}

.full-screen.clear {
    width: 0vw;
}

.full-screen.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    background-color: #310f71;

    margin: 600px auto;
    padding: 20px 24px;

    border-radius: 12px;
}

.popup-list {
    display: flex;
    flex-direction: row;
    gap: 20px;

    list-style-type: none;
    padding: 0;
}

.popup-items {
    width: 120px;
    height: 120px;

    border: 2px solid gray;
    border-radius: 12px;
    background-color: aliceblue;

    background-position: center;
    background-size: 100%;

    transition-duration: 400ms;

    cursor: pointer;
}

.popup-items:hover {
    transform: scale(1.01);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.4);
}

.popup-items.choosen {
    border: 4px solid rgb(42, 94, 207);
}

.avatar-button {
    padding: 4px 80px;
    border-radius: 24px;

    font-size: 30px;
    color: white;
    font-family: 'Dongle', sans-serif;

    border: 2px solid #77738e;
    background-color: #77738e;

    transition-duration: 400ms;
}

.active-avatar-btn {
    cursor: pointer;
    border: 2px solid #4938a8;
    background-color: #4938a8;
}

.active-avatar-btn:hover {
    border: 2px solid #4938a8;
    background-color: white;
    color: #4938a8;
}

.active-avatar-btn:active {
    box-shadow: 0 0 18px rgba(0,0,0,0.4);
}

.transparent {
    animation: clear 200ms ease-out;
}

@keyframes clear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}